<div class="two-in-one">

  <div class="devolution-process-section ">

    <div class="card show-card first-card" id="card-1">
        <h1>{{ block.settings.title_message_choose }}</h1>
        <p>{{ block.settings.message_tooltip }}</p>
        <span>Escribe el número de orden para comenzar</span>
        <div class="tooltip ticket__number">
          <span>{{ block.settings.tooltiptext }}</span>
          <span class="tooltiptext">
            <img src={{ 'img_order_number.png' | asset_url }} height="600px" width="fit-content" alt="client ticket example">
          </span>
        </div>
        <div class="returnment-container">
            <div class="returnment-bar">
                <input type="text" id="order-input" placeholder="Número de Orden" required>
                <input type="text" id="phone-number" placeholder="Teléfono" requfired>
                <select id="subsidiary-input" name="select" required>
                    <option value="---" selected>¿Donde comprate?</option>
                    <option value="En Linea">En Linea</option>
                    <option value="Cedis">Cedis</option>
                    <option value="Tijuana">PT Tijuana</option>
                    <option value="Puebla">PT Puebla</option>
                    <option value="Queretaro">PT Queretaro</option>
                    <option value="Queretaro">PT Toreo</option>
                    <option value="Queretaro">PT Coacalco</option>
                </select>
                <button id="next-card" class="first-button-next" data-card="1">Devolver</button>
                <button id="check_button_opt"> {{ block.settings.option_check }} </button>
            </div>
        </div>
    </div>

    <div class="card" id="card-2">

        <div class="card-question-body">
            <div class="card-header">
                <h5> Número de Cliente</h5> {%  comment  %} Intentar Obtener El Numero de Shopify {% endcomment %}
                <div class="tooltip client__number">
                <span>{{ block.settings.tooltiptext }}</span>
                <span class="tooltiptext">
                    <img src={{ 'img_client_number.png' | asset_url }} height="600px" width="fit-content" alt="client ticker example">
                </span>
                </div>
            </div>
            <div class="card-question">
                <div class="input-bar">
                    <input type="text" id="client-number" placeholder="Número de Cliente" required>
                </div>
            </div>
        </div>


        <div class="card-question-body">
            <div class="card-header">
                <h5> Motivo de devolución</h5>
            </div>
            <div class="card-question">
                <div class="input-bar">
                    <select id="reason-input" name="select">
                        <option value="Paquete dañado" selected>Paquete dañado</option>
                        <option value="Producto incorrecto">Producto incorrecto</option>
                        <option value="Pedido incompleto" >Pedido incompleto</option>
                        <option value="Garantía">Garantía</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="card-question-body">
            <div class="card-header" id="header-specif-reason">
                <h5> Motivos Especificos</h5>
            </div>
            <div class="card-question">
                <div style="display: flex; flex-flow:column; width: 100%;">
                    <div class="checkbox__list" id="checkbox_list_package">
                      <label><input type="checkbox" value="Paquete abierto">Paquete Abierto</label>
                      <label><input type="checkbox" value="Paquete con sellos de seguridad violados">Paquete C/Cinta Seguridad Abierta</label>
                      <label><input type="checkbox" value="Paquete aplastado">Paquete aplastado</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_product">
                      <label><input type="checkbox" value="Pedí el producto incorrrecto">Pedí el producto incorrecto</label>
                      <label><input type="checkbox" value="Producto mal etiquetado">Mal etiquetado</label>
                      <label><input type="checkbox" value="Producto enviado incorrectamente">Envío incorrecto</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_display">
                      <label><input type="checkbox" value="Pantalla no funciona bien">Display: Pantalla no funciona bien</label>
                      <label><input type="checkbox" value="Pantalla tiene rayas o manchas">Display: Pantalla tiene rayas o manchas</label>
                      <label><input type="checkbox" value="Pantalla se apaga sola">Display: Pantalla se apaga sola</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_battery">
                      <label><input type="checkbox" value="Batería se descarga rápido o está dañada">Batería: Se descarga rápido o está dañada</label>
                      <label><input type="checkbox" value="Batería no carga">Batería: No carga</label>
                      <label><input type="checkbox" value="Batería se sobrecalienta">Batería: Se sobrecalienta</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_touch">
                      <label><input type="checkbox" value="Pantalla táctil no responde bien">Touch: No responde bien</label>
                      <label><input type="checkbox" value="Pantalla táctil tiene áreas muertas">Touch: Tiene áreas muertas</label>
                      <label><input type="checkbox" value="Pantalla táctil registra toques fantasma">Touch: Registra toques fantasma</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_accesories">
                      <label><input type="checkbox" value="Accesorios no funcionan o están defectuosos">Accesorios: No funcionan o están defectuosos</label>
                      <label><input type="checkbox" value="Accesorios no son compatibles">Accesorios: No son compatibles</label>
                      <label><input type="checkbox" value="Accesorios se rompieron">Accesorios: Se rompieron</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_resource">
                      <label><input type="checkbox" value="Insumos caducados">Insumos: Caducados</label>
                    </div>

                    <div class="checkbox__list" id="checkbox_list_tools">
                      <label><input type="checkbox" value="Herramientas se rompieron o no funcionan bien">Herramientas: Se rompieron o no funcionan bien</label>
                      <label><input type="checkbox" value="Herramientas tienen partes sueltas">Herramientas: Tienen partes sueltas</label>
                      <label><input type="checkbox" value="Herramientas no cumplen su función">Herramientas: No cumplen su función</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="card-button">
            <button id="previus-card" data-card="2">Atrás</button>
            <button id="next-card" data-card="2">Siguiente</button>
        </div>

    </div>


    <div class="card" id="card-3">  {%  comment  %} Next Step {% endcomment %}
        <h1> Productos a devolver</h1>

        <div class="card-question">
            <div class="input-bar">

                <div class="field-text-input">


                    <span>SKU: </span>
                    <input id="sku-input" type="text" class="same-as-number">

                    <span>Cantidad:</span>
                    <input id="qty-input" type="number" value="1">


                    <input type="button" class="add-input-field" id="add-product-button" value="+"/>

                </div>
            </div>
        </div>

        <div class="product-list">
          <table id="product-table" border="1">
              <thead>
                  <tr>
                      <th>SKU</th>
                      <th>Cantidad</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Aquí se agregarán los productos dinámicamente -->
              </tbody>
          </table>
        </div>

        <div class="card-button">
            <button id="previus-card" data-card="3">Atrás</button>
            <button id="next-card" data-card="3">Siguiente</button>
        </div>
    </div>


    <div id="loading-spinner" class="loading-spinner" style="display: none;"></div>

    <div class="card" id="card-4">
        <h1> Solicitud Exitosa</h1>

        <div class="card-question">

            <div class="sucess-info">
                <p>{{ block.settings.ticket_sucess }}</p>
                <p>{{ block.settings.ticket_next_steps }}</p>
                <P>Folio: <strong id="folio-number"> </strong> </P>
                <br>
                <br>
                <a class="whatsapp-continue" id="whatsapp-anchor" type="button" target="_blank" href="#">{{ block.settings.button_cta }}</a>
            </div>
            <div class="error-info">
              <p>Upps.. </p>
              <p>hubo un error, corrija los datos o vuelve a intentarlo mas tarde.</p>
            </div>
        </div>
    </div>

  </div>

  <div class="main-section-container not-show">

    <div class="title-section">
        <h1>{{ block.settings.status_title }}</h1>
    </div>

    <div class="search-returnment">
        <div class="search-container-returment">
            <input type="text" id="search-input" placeholder="Buscar estatus de devolución">
            <button id="search-button">Buscar</button>
        </div>
    </div>

    <div class="result-container">


        <div class="progress-container">
            <div class="progress" id="progress-bar"></div>
        </div>

        <div class="container-info-returnment">

            <div class="container-info-column-returnment">
                <div class="circle pending__svg">
                    {% render 'svg' name:'pending' %}
                </div>
            </div>

            <div class="container-info-column-returnment">
                <div class="circle carrier__svg">
                    {% render 'svg' name:'carrier' %}
                </div>
            </div>

            <div class="container-info-column-returnment">
                <div class="circle review__svg">
                    {% render 'svg' name:'review' %}
                </div>
            </div>

            <div class="container-info-column-returnment">
                <div class="circle result__svg">

                </div>
            </div>

        </div>

        <div class="container-details-returnment">
            <div class="details-section">
                <div class="title-stage-returnment">
                    <h2>Estatus</h2>
                </div>
                <div class="info-stage">
                    <p class="status-label" id="status-info-label">Review the server status</p>
                </div>
            </div>
            <div class="details-section">
                <div class="title-stage-returnment">
                    <h2>Detalles</h2>
                </div>
                <div class="info-stage">
                    <p class="status-info-populated" id="status-info-populated"></p>
                    <p class="status-info-commentaries" id="status-info-commentaries"></p>
                </div>
            </div>
        </div>

    </div>

    <div class="no-result-found">
      <div class="details-section"></div>
        <div class="info-stage all-rounded">
          <p class="status-label">No hay informacion de esa devolución</p>
        </div>
      </div>
    </div>

  </div>

</div>

{% schema %}
  {
    "name": "All in One Version",
    "target": "section",
    "stylesheet": "code_two_in_one.min.css",
    "javascript": "code_two_in_one_v2.min.js",
    "settings": [
      {
        "type": "text",
        "id": "title_message_choose",
        "label": "Title",
        "default": "¿Que quieres hacer?"
      },
      {
        "type": "text",
        "id": "message_tooltip",
        "label": "Tooltip message",
        "default": "Ingresa los datos que se solicitan para pedir un cambio, una devolucion, o aplicar garantía"
      },
      {
        "type": "text",
        "id": "option_check",
        "label": "Button text to check",
        "default": "Revisar"
      },
      {
        "type": "text",
        "id": "option_create",
        "label": "Button text to create",
        "default": "Crear un ticket"
      },
      {
        "type": "text",
        "id": "status_title",
        "label": "Check status title",
        "default": "Estatus de la devolucion"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA",
        "default": "Empieza tu garantía aquí!"
      },
      {
        "type": "text",
        "id": "tooltiptext",
        "label": "Help Tooltip",
        "default": "?"
      },
      {
        "type": "text",
        "id": "ticket_success",
        "label": "Sucessful ticket message",
        "default": "Tu solicitud de garantía ha sido enviada con éxito."
      },
      {
        "type": "textarea",
        "id": "ticket_next_steps",
        "label": "Next steps",
        "default": "Por favor, haz clic en el botón 'Continuar' para que puedas completar tu solicitud a través de WhatsApp, enviandonos tus evidencias."
      },
      {
        "type": "text",
        "id": "button_cta",
        "label": "Whatsapp Button",
        "default": "Continuar a Whatsapp"
      }
    ]
  }
{% endschema %}
